= ui_form_for @user do |f|
  = f.error_notification message: f.object.errors[:base].to_sentence.to_s if f.object.errors[:base].present?

  = f.input :first_name
  = f.input :last_name
  = f.input :email, as: :email
  = f.input :role, as: :select, collection: User::ROLES, include_blank: false
  = f.submit t('.submit'), class: 'btn btn-primary'
